*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.cabecalho{
    width: 80vw;
    height: 120px;
    background-color: aqua;
    margin: 0 auto;
}

.corpo{
    width: 80vw;
    height: calc(100vw - 240px);
    background-color: green;
    margin: 0 auto;
    padding: 0;
    display: block;
    
}

.menu{
    width: 100px;
    height: 100%;
    background-color: blue;
    display: inline-block;
    margin: 0px;
}

.conteudo{
    width: calc(80vw - 100px);
    height: 100%;
    background-color: brown;
    border: 0 none;
    margin: 0px;
    display: inline-block;

}

.rodape{
    width: 80vw;
    height: 120px;
    background-color: coral;
    margin: 0 auto;
}